# Virtual environment
/.venv
#VS-Code Settings
/.vscode
# Data Storage for NYT Links, Sources and Articles
data
# EC2 Instance key
data-collection/AWS/key.pem
data-collection/Scraperapi/config.py
# pycache
/data-collection/__pycache__
/Analysing/__pycache__
/Analysing/Sentimental/__pycache__
/Analysing/Wordcount/__pycache__
/Analysing/Articlecount/__pycache__
# NYT and Guardian API keys
data-collection/Guardian/config.py
data-collection/NYT/config.py
/data-collection/Guardian/__pycache__
